<div class="flex flex-col gap-3">
    @if (todo(); as todo) {
        <div
            (click)="changeState()"
            class="select-none flex justify-between items-center px-5 py-3 shadow shadow-cyan-700/15 hover:shadow-cyan-500/50 hover:bg-sky-50 hover:cursor-pointer bg-slate-50 rounded-lg transition-all duration-300 delay-150"
        >
            <div class="text-lg font-semibold flex gap-3">
                <span
                    [ngClass]="isOpened() ? 'rotate-90' : ''"
                    class="transition-transform duration-150"
                >
                    <i class="fa-solid fa-angle-right"></i>
                </span>
                <span>{{ todo.title }}</span>
            </div>
            <div class="flex items-center text-sm">
                @switch (todo.status) {
                    @case (Status.NOT_STARTED) {
                        <span
                            class="py-0.5 px-2 bg-red-400 rounded-md text-white"
                        >Not started</span
                        >
                    }
                    @case (Status.ON_GOING) {
                        <span
                            class="py-0.5 px-2 bg-blue-400 rounded-md text-white"
                        >On going</span
                        >
                    }
                    @case (Status.COMPLETED) {
                        <span
                            class="py-0.5 px-2 bg-green-400 rounded-md text-white"
                        >Completed</span
                        >
                    }
                }
            </div>
        </div>
        @if (isOpened()) {
            <app-todo-detail [isOpened]="isOpened()" [@fadeInOut]="isOpened()" [todo]="todo"></app-todo-detail>
        }
    }
</div>
